.App{
  width: 100vw;
  height: 50vh;
}
.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.bg{
  background-color: aqua;
}
.bg1{
  background-color:coral;
}

.bg2{
  background-color: #ff0;
}
.part2{
 height: 100vh;
 background-color: aqua;

}
.part3{
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
.box3{
  width: 200px;
  height: 200px;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background:red;
  transform-origin: 0%;
}
.box {
  width: 200px;
  height: 200px;
  background: #ff0;
}